/* => Breakpoints
/* ------------------------------------------------------------------------------ */

$screen-s: 750px;
$screen-m: 900px;
$screen-l: 1600px;
$screen-xl: 1920px;

/* => Colors
/* ------------------------------------------------------------------------------ */
$white: #fff !default;
$brand-black: #1e1e1e !default;
$brand-orange: #F0941D !default;
$background: #FFFCF6 !default;

$body-text: $white !default;

$border-gray: #eee !default;

/* => Transition
/* ------------------------------------------------------------------------------ */
$default-transition: all 0.3s ease-in-out;

/* => Icons
/* ------------------------------------------------------------------------------ */

$icon-chevron-down: url("data:image/svg+xml,%3Csvg fill='none' height='9' viewBox='0 0 12 9' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6 8.13281-6-6 1.26562-1.265622 4.73438 4.101562 4.7344-4.101562 1.2656 1.265622z' fill='%23879baa'/%3E%3C/svg%3E");