body {
    background-color: $background;
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

// * {
//     font-family: 'Lato', 'sans-serif';
//     font-size: 18px;
//     line-height: 32px;
// }

// b {
//     font-weight: 700;
// }