@font-face {
    font-family: 'DigitalClock';
    src: url('../../assets/scss/fonts/DS-DIGIB.TTF')format('truetype');
}

.c-clock {
    font-size: 5rem;
    font-family: "DigitalClock";
    color: $background;
    display: flex;
    margin: 5px;
    text-align: center;
    // justify-content: start;
    // margin: 0px;
    // font-weight: bold;

}